.main_h1 {
  text-align: center;
}

.main__container{
  min-width: 100%;
  display: grid;
  grid-template-columns: auto auto 1fr;
  justify-content: space-between;
  align-content: space-between;
  grid-gap: 10px;
}