@import url("../../variables.css");

.header {
  background-color: white;
  background-image: var(--gradient-one);
  height: 60px;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 1;
  transition: height 0.4s ease-in-out; 
}

.fixed {
  height: 45px;
  width: 100%;
  position: sticky;
  top: 0;
  background-image: var(--gradient-one);
  /* background: var(--gradient-two); */
  z-index: 1000;
  transition: height 0.4s ease-in-out;
}

.wrapper {
  max-width: var(--max-width);
  margin: auto;
  height: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 10px;
}