@import url("../../variables.css");

.footer {
  background-image: var(--gradient-one);
  height: 60px;
  width: 100%;
}

.wrapper {
  max-width: var(--max-width);
  margin: auto;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
}

.footer_dev_git {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
}

.footer_year {
  font-weight: 600;
  user-select: none;
}