.notfound {
  width: 800px;
  margin: 0 auto;
  gap: 10px;
  display: flex;
  justify-content: space-between;
  height: calc(100vh - 60px - 60px);
  box-sizing: border-box;
}

.title {
  font-size: var(--font-size-title);
  font-weight: bold;
  margin-bottom: 25px;
}

.subtitle {
  font-size: var(--font-size-subtitle);
  margin-bottom: 20px;
}

.error {
  color: var(--color-text-lighter);
  margin-bottom: 20px;
  font-weight: bold;
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  height: 100%;
}

.img {
  width: 50%;
  height: 100%;
  background-image: url('../../assets/pngwing.com.png');
  background-size: 300px;
  background-repeat: no-repeat;
  background-position: center;
}

@media screen and (max-width: 1000px) {
  .wrapper {
    max-width: var(--max-width-tablet);
    margin: auto;
  }

  .notfound {
    width: 100%;
  }
}

@media screen and (max-width: 640px) {
  .wrapper {
    max-width: var(--max-width-mobile);
    padding: 0 5px;
  }

  .notfound {
    flex-direction: column;
  }

  .title {
    font-size: var(--font-size-title-mobile);
    font-weight: bold;
    margin-bottom: 10px;
  }

  .subtitle {
    font-size: var(--font-size-subtitle-mobile);
    margin-bottom: 10px;
  }

  .box {
    width: 100%;
    height: 55%;
    text-align: center;
  }

  .img {
    width: 100%;
    height: 40%;
    background-image: url('../../assets/pngwing.com.png');
    background-size: 120px;
    background-repeat: no-repeat;
    background-position: center;
  }
}