@import url("../../variables.css");

.signin_wrap {
  width: 95%;
  height: 95%;
  margin: auto;
}

.signin_in_wrap {
  width: 35%;
  padding: 5% 2%;
  min-width: 350px;
  max-width: 500px;
  margin: auto;
  border-radius: var(--default-border-radius);
  background: var(--color-background);
}

.signup_signin {
  margin-top: 5px;
  user-select: none;
}

.signin_forgot {
  display: block;
}

@media (max-width: 450px) {

  .signin_in_wrap {
    min-width: 260px;
    max-width: 300px;
  }

}