:root {
  --max-width: 1200px;
  --max-width-small-deskstop: 940px;
  --max-width-tablet: 600px;
  --max-width-mobile: 100%;

  --default-border-radius: 10px;
  --default-border-style: 1px solid transparent;

  --button-height: 30px;
  --button-width: 120px;
  --button-width-small: 85px;

  --color-one: #06b97a;
  --color-two: #235ad1;
  --color-three: #cd7992;
  --color-background: #E6E6FA;
  --color-error: #cb3d48;
  
  --gradient-one: linear-gradient(150deg, #cd7992, #C6E2FF, #d3ffce, #bad6f0);
  --gradient-two: linear-gradient(150deg, #bad6f0, #d3ffce, #C6E2FF, #cd7992);

  --font-size-title: 46px;
  --font-size-title-mobile: 30px;
  --font-size-subtitle: 26px;
  --font-size-subtitle-mobile: 20px;

  --color-text: #1D1D1D;
  --color-text-lighter: #494949;
  --color-text-light: #949494;
}